Django
django-filter
psycopg2-binary
djangorestframework
django-oauth-toolkit
markdown
django-extensions
django-cors-headers
drf-yasg
drf-yasg[validation]
drf-excel
drf-standardized-errors
gunicorn
Pillow
setuptools